<div class="container">
    <div class="col s6 m3">
        <div class="text-center">
            <h3 id="ny">{{article.length}} articles to read today</h3>
            <a id="scraper" class="waves-effect waves-light btn pink darken-4" href="/scrape">Scrape</a>
            <a id="deleter" class="waves-effect waves-light btn indigo darken-2" href="/delete">Delete</a>
        </div>
    </div>
    {{#each article }}
        <div class="col s12 m6">
                <div class="card-panel hoverable z-depth-5">
                    <h4 class="header" id="ny">{{articleTitle}}</h4>
                        <h6 class="">{{ author }}</h6>
                            <img src="{{image}}">           
                                <h6>{{ summary }}</h6>  
                                    <a class="waves-effect waves-light btn modal-trigger grey darken-4 z-depth-5" href="{{articleLink}}">Read Me!</a>
                                    <a class="waves-effect waves-light btn modal-trigger lime accent-4 right btn-floating pulse z-depth-5" href="/addNote"><i class="large material-icons">keyboard</i></a>
                </div>                 
            </div>
    {{/each}}       


</div>